.main{
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 90px 0 90px 0;
}

.sub-main{
    display: flex;
    height: 500px;
    width: 35%;
    box-shadow: 11px 12px 13px 11px rgb(200, 200, 200);
    border-radius: 50px 25px;
    flex-direction: column;
}

/* .person-icon{

} */

.email{
    margin-top: 30px;
    text-align: left;
}

.person-icon{
    margin-top: 20px;
}

.details-section{
    margin-top: 40px;
    padding: 10px;   
}

input{
    width: 350px;
    height: 40px;
    display: inline-block;
}

.email-box{
    padding: 8px;
    position: relative;
}

.email-box i{
    position: absolute;
    padding: 4px;
}

.mail{
    padding-left: 35px;
}

.password-box{
    padding: 8px;
    position: relative;
}

.password-box i{
    position: absolute;
    padding: 4px;
}

.eye-icon{
    position: absolute;
    padding-left: 333px;
    margin-top: 1px

}

.pass{
    padding-left: 32px;
}

.fpass{
    width: fit-content;
}   

