/* .main{
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 90px 0 90px 0;
}

.sub-main{
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 11px 12px 13px 11px rgb(200, 200, 200);
} */

.main-page{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    
}

img{
    height: 200px;
    width: 200px;
    /* background: linear-gradient(45deg, rgb(173, 236, 161), rgb(158, 185, 230)); */
}

.title-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header{
    text-align: center;
    font-family: cursive;
    margin-top: 50px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-right: 40px;
}

button{
    width: 90px;
    height: 60px;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
    color: blue;
}

button:hover{
    color: rgb(179, 212, 240);
}

.content-box{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.content-header{
    width: 100%;
    font-size: 48px;
    font-family: proxima-nova, sans-serif;
}

.text-boxes{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
}

.text-box1{
    height: 300px;
    width: 500px;
    box-shadow: 11px 12px 13px 11px rgb(200, 200, 200);
    margin: 40px;
}

.text-box2{
    height: 300px;
    width: 500px;
    box-shadow: 11px 12px 13px 11px rgb(200, 200, 200);
    margin: 40px;
}

.text-box3{
    height: 300px;
    width: 500px;
    box-shadow: 11px 12px 13px 11px rgb(200, 200, 200);
    margin: 40px;
}